<div class="row">
  <div class="col">
    <img class="ProductImage" ng-src="{{'img/1.jpg'}}" ng-click="SetPhoto(1)">
  </div>
  <div class="col">
      <img class="ProductImage" ng-src="{{'img/2.jpg'}}" ng-click="SetPhoto(2)" >
  </div>
  <div class="col">
      <img class="ProductImage" ng-src="{{'img/3.jpg'}}"ng-click="SetPhoto(3)">
  </div>
</div>
<div class="row">
  <div class="col">
    <img class="ProductImage" ng-src="{{'img/4.jpg'}}" ng-click="SetPhoto(4)">
  </div>
  <div class="col">
      <img class="ProductImage" ng-src="{{'img/5.jpg'}}" ng-click="SetPhoto(5)">
  </div>
  <div class="col">
      <img class="ProductImage" ng-src="{{'img/6.jpg'}}" ng-click="SetPhoto(6)">
  </div>
</div>
<div class="row">
  <div class="col">
    <img class="ProductImage" ng-src="{{'img/7.jpg'}}"ng-click="SetPhoto(7)">
  </div>
  <div class="col">
      <img class="ProductImage" ng-src="{{'img/8.jpg'}}" ng-click="SetPhoto(8)">
  </div>
  <div class="col">
      <img class="ProductImage" ng-src="{{'img/9.jpg'}}" ng-click="SetPhoto(9)">
  </div>
</div>
<div class="row">
  <div class="col">
    <img class="ProductImage" ng-src="{{'img/10.jpg'}}" ng-click="SetPhoto(10)">
  </div>
  <div class="col">
      <img class="ProductImage" ng-src="{{'img/11.jpg'}}" ng-click="SetPhoto(11)">
  </div>
  <div class="col">
      <img class="ProductImage" ng-src="{{'img/12.jpg'}}" ng-click="SetPhoto(12)">
  </div>
</div>