<ion-view style="" class=" " id="page9" title="Thông tin khách hàng">
    <ion-content class="has-header" padding="true">    
      <div class="card">
        <div class="item item-divider item-icon-right" ng-click = "headerInfoClick()">
          <i class="icon" ng-class="{'ion-ios-arrow-right':headerInfo,'ion-ios-arrow-down':!headerInfo}"></i>
          Thông tin khách hàng
        </div>
        <ion-list ng-show="!headerInfo">
            <ion-item class = "item-remove-animate item-icon-left" >
                <h2>Tên: {{curUser.FullName}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class = "item-remove-animate item-icon-left" >
                <h2>Sđt: {{curUser.Phone}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>   
            </ion-item>
            <ion-item class = "item-remove-animate item-icon-left" >
                <h2>Đ/c: {{curUser.Address}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <div class="row">
            <div class="col text-center">
              <a class="button icon-left ion-ios-color-wand-outline button-clear button-positive" ng-click = "editInfo()">Sửa thông tin</a>
            </div>
          </div>
        </ion-list>
     </div>
      <div class="row" style="background-color: #886aea;margin-left: 0px;border-bottom: 1px solid #886aea;border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <div class="col">
                <p style="margin-bottom:0px;color: white;">Thống kê</p>
            </div>
        </div>
         <div  style="border-left: 1px solid #886aea;border-right: 1px solid #886aea;margin-bottom:10px;margin-top:0px;border-bottom: 1px solid #886aea;">
            <div class="row text-center" style="margin-bottom: 5px">
                <div class="col" style="background-color: #e8b110; margin-right:5px;border-radius: 5px!important;">
                    <p style="color: white;">Số đơn hàng:</p>
                    <p style="color: white;">{{numOrders}} đơn</p>
                </div>
                <div class="col" style="background-color: #1caf91; margin-left:5px;border-radius: 5px!important;">
                    <p style="color: white;">Tổng tiền đã mua:</p>
                    <p style="color: white;"> {{totalOrdersPrice| currency:"":0}}đ</p>
                </div>
            </div>
         </div>
        <div class="row" style="background-color: #886aea;margin-left: 0px;border-bottom: 1px solid #886aea;border-top-left-radius: 5px; border-top-right-radius: 5px;">
          <div class="col">
              <p style="margin-bottom:0px;color: white;">Các đơn hàng gần đây</p>
          </div>
        </div>
        <div  style="border-left: 1px solid #886aea;padding-left: 10px;padding-right: 10px;border-right: 1px solid #886aea;margin-bottom:10px;margin-top:0px;border-bottom: 1px solid #886aea;">
            <ion-list>
              <div style="box-shadow:0 1px 3px rgba(0, 0, 0, 0.3)" class="card item-avatar" ng-repeat="order in orders| filter:filterOrder| orderBy:'-OrderDate'" ng-click="orderClick(order._id)" ng-if="$index<10">
                  <img  src="img/client/orders.png" style="margin-left: 10px;margin-top: 5px"> 
                  <p style="font-size: 12px; color: gray; margin-bottom: 0px;margin-top: 10px"><b>Mã: {{order._id}}</b></p>
                  <p style="font-size: 12px; color:gray; margin-bottom: 0px;" >Ngày: {{order.OrderDate | date:"dd/MM/yyyy 'lúc' h:mma"}}</p>
                  <p style="font-size: 12px; color: green; margin-bottom: 0px;">Trạng thái: {{order.StatusString}}</p>
                  <p style="font-size: 12px; color: green; margin-bottom: 10px"><b>Tổng: {{order.Total| currency:"":0}}đ</b></p>                 
              </div>
            </ion-list>
             <div   ng-if="orders.length===0">
                <p style="font-size: 12px; color: gray; margin-bottom: 0px"><b>Không có đơn hàng nào</b></p>                      
            </div>
        </div>
      
    </ion-content>
</ion-view>
