
      <div >
        <div class="item item-image" style="border-width: 0px; border-style: none;">
            <img  ng-src="{{'img/'+ curItemClick.image +'.jpg'}}" style="width: 40%" />
        </div>
        <div class="text-center">
            <label class="item item-input"><input type="text" ng-model="curUserClick.FullName" placeholder="Tên sản phẩm" > </label>
            <label class="item item-input"><input type="text" ng-model="curUserClick.Phone" placeholder="SL còn" > </label>
            <label class="item item-input"><input type="text" ng-model="curUserClick.Address" placeholder="SL rỗng" > </label>

        </div>
        
      </div>
