<ion-view style="" class=" " id="page10" title="Phản hồi">
    <ion-content class="has-header" padding="true">
      <label class="item item-input" style="background-color: aliceblue;">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="filterOrder" ng-focus="ResetFilter()" placeholder="Tìm theo ngày đặt hàng / Số điện thoại" >
      </label>
      <ion-list>
          <div class="list card" ng-repeat="feedback in feedbacks| filter:filterOrder | orderBy:'-dateCreate'" >
            <div class="item item-avatar">
                <img src="../img/app-icon1.png">
                <h2>Tên: {{feedback.userName}}</h2>
                <p>Ngày: {{feedback.dateCreate | date:"h:mma dd/MM/yyyy"}}</p>
                <p>Mục: {{feedback.catalogue}}</p>
            </div>
            <div class="item item-body">
                <p>
                    {{feedback.contain}}
                </p>
            </div>
        </div>
      </ion-list>
      	<div class="row"> <div style="height: 100px;"></div></div>
      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" icon="ion-loading-c" on-infinite="loadMore()" distance="10%"> </ion-infinite-scroll>
    </ion-content>
</ion-view>
