<ion-view style="" class=" " id="page9" title="Chi tiết đơn hàng">
    <ion-content class="has-header" padding="true">
      <div class="card" style=" margin-top: 5px" >          
          <div class="button-bar">
            <a class="button button-small button-energized" ng-if="isShowSaveButon" ng-click="save()">Lưu</a>
            <a class="button button-small button-balanced" ng-if="isShowConfirmButton" ng-click="confirm()">Xác nhận</a>
            <a class="button button-small button-balanced" ng-if="isShowUnConfirmButton" ng-click="unConfirm()">Hủy xác nhận</a>
            <a class="button button-small button-dark" ng-if="isShowCancelButton" ng-click="cancel()">Hủy đơn</a>
          </div>
      </div>
       <div class="row text-center">
          <div class = "col">
            <p style="color: blueviolet; font-size: 16px;">
              <strong> {{curOrder.StatusString}}</strong>
             </p>
        </div>
      </div>
      <div class="row text-center">
        <div class = "col">
          <p style="color: blueviolet; font-size: 16px;">Tổng:
          <strong> {{curOrder.Total| currency:"":0}}đ</strong>
        </p>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider item-icon-right" ng-click = "headerInfoClick()">
          <i class="icon" ng-class="{'ion-ios-arrow-right':headerInfo,'ion-ios-arrow-down':!headerInfo}"></i>
          Thông tin đặt hàng
        </div>
        <ion-list ng-show="!headerInfo">
            <ion-item class = "item-remove-animate item-icon-left" >
                <h2 style="font-size: 14px; white-space: normal;">Tên: {{curOrder.Name}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class = "item-remove-animate item-icon-left" >
                <a ng-href="tel: {{curOrder.PhoneNumber}}" style="color: green">Sđt: {{curOrder.PhoneNumber}}</a>
                <i class="icon ion-ios-telephone icon-balanced" style="color: green"></i>   
            </ion-item>
            <ion-item class = "item-remove-animate item-icon-left" >
                <h2 style="font-size: 14px; white-space: normal;">Đ/c: {{curOrder.Address}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class = "item-remove-animate item-icon-left" >
                <h2 style="font-size: 14px; white-space: normal;">Ghi chú: {{curOrder.Note}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <div class="row">
            <div class="col text-center">
              <a class="button icon-left ion-ios-color-wand-outline button-clear button-positive" ng-click = "editInfo()">Sửa thông tin</a>
            </div>
          </div>
        </ion-list>
     </div>
      <div class="card">
        <div class="item item-divider item-icon-right" ng-click = "headerInfoDeliverClick()">
          <i class="icon" ng-class="{'ion-ios-arrow-right':headerInfoDeliver,'ion-ios-arrow-down':!headerInfoDeliver}"></i>
          Thông chuyển hàng
        </div>
        <ion-list ng-show="!headerInfoDeliver">
            <ion-item class = "item-remove-animate item-icon-left" >
                <a ng-href="tel: {{curOrder.PhoneNumber}}" style="color: green">Người chuyển: {{curOrder.Name}}</a>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class = "item-remove-animate item-icon-left" >
                <a ng-href="tel: {{curOrder.PhoneNumber}}" style="color: green">Sđt: {{curOrder.PhoneNumber}}</a>
                <i class="icon ion-ios-telephone icon-balanced" style="color: green"></i>   
            </ion-item>
            <ion-item class = "item-remove-animate item-icon-left" >
                <h2 style="font-size: 14px; white-space: normal;">Giờ nhận chuyển đơn hàng: {{curOrder.Address}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
     </div>
      <div class="card">
            <div class="item item-divider item-icon-right"  ng-click = "headerAddProductClick()">
            <i class="icon" ng-class="{'ion-ios-arrow-right':headerAddProduct,'ion-ios-arrow-down':!headerAddProduct}"></i>
            Thêm sản phẩm
          </div>
            <!--<button class="button button-block icon-right ion-chevron-right button-calm button-assertive" style="margin-top: 0px; margin-bottom: 0px;" ng-click = "headerAddProductClick()">
              ssss
            </button>-->
        <div class="scrollhoriz"  ng-show="!headerAddProduct">
            <div class="row" ng-repeat="item in items track by $index " ng-if="$index % 2 === 0">


              <div class="col-50" ng-if="$index < items.length" style="border-bottom: 3px solid #886aea;margin-left: -5px;padding: 5px;"  >

                  <div  style="border-width: 0px; border-style: none; display: flex;align-items: center;justify-content: center;height: 150px!important;max-width:100%!important;">
                    <img ng-src="{{'img/'+ items[$index].image +'.jpg'}}" style="height: 100%; width: auto; box-shadow: 0 0px 0px 0 rgba(0,0,0,.26);" ng-click = "itemClick(items[$index])"/>
                  </div>
                  <div style="padding-left: 5px;">
                    <p style="width: 120px;color: black;font-weight: bold; font-size: 16px; margin-bottom:0px;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">{{items[$index].name}}</p>
                    <p style="color: dimgray; font-size: 12px;margin-bottom:0px;">Giá: <strong>{{items[$index].price| currency:"":0}}đ/1kg</strong></p>
                    
                  </div>
                  <div class="button-bar">
                    <button class="button button-outline button-small button-balanced" style="font-size:12px; padding-right:5px;padding-left:5px;" ng-click = "AddToCart(items[$index])">Thêm vào đơn hàng</button>
                  </div>
              </div>

              <div class="col-50 " ng-if="$index+1  < items.length" style="border-bottom: 3px solid #886aea; margin-left: 10px; padding: 5px;" >
                  <div class="item item-image" style="border-width: 0px; border-style: none;display: flex;align-items: center;justify-content: center;height: 150px!important;width: 100%!important;">
                    <img ng-src="{{'img/'+ items[$index+1].image +'.jpg'}}" style="height: 100%; width: auto;box-shadow: 0 0px 0px 0 rgba(0,0,0,.26);" ng-click = "itemClick(items[$index+1])"/>
                  </div>
                  <div style="padding-left: 5px;">
                    <p style="width: 120px;color: black;font-weight: bold; font-size: 16px; margin-bottom:0px;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">{{items[$index+1].name}}</p>
                    <p style="color: dimgray; font-size: 12px;margin-bottom:0px;">Giá: <strong>{{items[$index+1].price| currency:"":0}}đ/1kg</strong></p>
                    <!--<p style="color: dimgray; font-size: 12px">Gas + Vỏ: <strong>{{items[$index+1].priceFull| currency:"":0}}đ</strong></p>-->
                  </div>
                  <div class="button-bar">
                    <button class="button button-outline button-small button-balanced" style="font-size:12px; padding-right:5px;padding-left:5px;" ng-click = "AddToCart(items[$index+1])">Thêm vào đơn hàng</button>   
                  </div>
              </div>
            </div>
        	
        </div>
        </div>
        
        <div class="card">
            <div class="item item-divider item-icon-right"  ng-click = "ShowProductsInCart()">
            <i class="icon" ng-class="{'ion-ios-arrow-right':showProducts,'ion-ios-arrow-down':!showProducts}"></i>
             Đơn hàng có ({{curOrder.OrderDetails.length}}) sản phẩm
          </div>
          <div ng-show="!showProducts">
          <div class="item item-body"  ng-repeat="detail in curOrder.OrderDetails track by $index" style="margin-top:5px; margin-bottom: 5px; padding-bottom: 0px">
            <div class= "row">
                <div class= "col col-40">
                  <img ng-src="{{'img/'+ detail.Item.image+'.jpg'}}" width="80%" height="auto" style="box-shadow: none;">
                </div>
                <div class= "col">
                  <p style="color: gray; font-size: 12px;margin-bottom: 0px;margin-top: 10px;">Tên:<strong> {{detail.Item.name}}</strong></p>
                  <p style="color: gray; font-size: 12px;margin-bottom: 0px;margin-top: 0px;">Giá: <strong>{{detail.Item.price| currency:"":0}}đ/Kg</strong></p>
                  <p style="color: gray; font-size: 12px;margin-bottom: 0px;margin-top: 0px;">Loại bao: <strong>{{detail.kilogramType}} Kg</strong></p>
                  <p style="color: gray; font-size: 12px;margin-bottom: 0px;margin-top: 0px;">Số bao: <strong>{{detail.numOfKilogramType}} Bao</strong></p>
                </div>
						</div>
            
            <div class="button-bar" style="box-shadow: none;">
                <button ng-click="removeDetail(detail)" class="button button-dark button-block button-small icon ion-android-delete" ></button>
            </div>
          </div>
          </div>
        </div>
     
      
  </ion-content>
</ion-view>
